@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}

div a.active {
  background: linear-gradient(to bottom right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  border-bottom: 1px solid #632EE3;
}